@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Mukta:wght@600&display=swap');

.cabecalho {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    padding-top: 2%;
}

.menu_mobile {
    display: none;
}

.menu_cabecalho {
    display: flex;
}

.texto_menu_cabecalho {
    font-family: 'Inter';
    padding-right: 7%;
    padding-top: 5%;
    font-size: 20px;
    text-decoration: none;
    color: #353436;
}

.pagina_atual {
    color: #B91C1C;
}


@media (max-width: 768px) {

    .cabecalho {
        display: flex;
        justify-content: space-between;
    }

    .menu_mobile {
        display: inline-block;
        width: 32px;
    }

    .menu_cabecalho {
        display: none;
    }

    .logos_redes {
        display: none;
    }

}